<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss} %-5level [%c{1}] - %msg%n
        </Property>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender"
                     fileName="${LOG_DIR}/revconnect.log"
                     filePattern="${LOG_DIR}/revconnect-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <!-- Roll every day -->
                <TimeBasedTriggeringPolicy/>

                <!-- OR roll when file reaches 5 MB -->
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>

            <!-- Keep only last 10 log files -->
            <DefaultRolloverStrategy max="10"/>

        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Reduce Oracle / JDBC noise -->
        <Logger name="oracle.jdbc" level="warn" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <!-- Application Logging -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>

    </Loggers>


</Configuration>
